.nav-link:hover{
  background-color: red;
}
.nav-link{
  margin-right: 40px;
}
.HomeContainer{
  width: 100%;
  height: 100vh;
  background-image: url('./Assets/red\ car.png');
  background-position: center;
  background-size: cover;
}
.h-div{
  padding-top: 150px;
  padding-left: 80px;
  width: 550px;
  color: white;
}
.h-div h3{
  font-weight: 900;
}
.btn{
  padding: 10px 20px;
  background-color: black;
  opacity: .9;
  color: white;
  border-radius: 50px;
}
.imgbox{
  width: 450px;
  height: 250px;
}
.imgbox img{
  width: 100%;
  height: 100%;
}
.home-two{
  width: 100%;
  display: flex;
}
.btn-warning{
  background-color: yellow;
  color: black;
}
.main-footerbody{
  padding-top: 20px;
  width: 100%;
}
.main-info{
  width: 100%;
  height: 100vh;
  background-image: url('./Assets/best\ seller.png');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imgdiv{
  width: 140px;
  height: 140px;
}
.imgdiv img{
  width: 100px;
}
.mainbox{
  display: flex;
  width: 350px;
  height: 160px;
  border: 2px solid yellow;
  border-radius: 10px;
  padding: 10px;
  color: white;
  margin: 5px;
}
.allinfo{
  margin-left: 20px;
}
.mainsel-div{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}